html, body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: calc(100vh - 3px);
}
body {
	background-color: #ec4646;
}

body.loading {
	font-size: 3vh;
	height: 55vh;
	text-align: center;
	padding-top: calc(45vh - 3vh);
	cursor: progress;
	background-color: #ffffff;
}

@keyframes slide {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: -115px;
	}
}

div#loading {
	line-height: 3ch;
	height: 3ch;
	width: 100%;
	background-color: #808080;
	background-image: repeating-linear-gradient(135deg,
			transparent,
			transparent 40px,
			#000000 40px,
			#000000 80px);
	background-size: 200%;
	animation: slide 800ms linear infinite;
	animation-direction: reverse;
	will-change: background-position;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 10px #ffffff;
}

div#buttonContainer {
	margin-top: 3px;
}

div.operationButton {
	display: inline-block;
	background-color: #f39090;
	height: 110px;
	width: 120px;
	margin: auto 3px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px;
	transition: border-radius 300ms;
}

div.operationButton:active {
	background-color: darkred;
}

div.operationButton:hover {
	border-radius: 14px;
}

div.operationButton#load {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktZmlsZS1lYXJtYXJrLWFycm93LXVwLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTkuMjkzIDBINGEyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoOGEyIDIgMCAwIDAgMi0yVjQuNzA3QTEgMSAwIDAgMCAxMy43MDcgNEwxMCAuMjkzQTEgMSAwIDAgMCA5LjI5MyAwek05LjUgMy41di0ybDMgM2gtMmExIDEgMCAwIDEtMS0xek02LjM1NCA5Ljg1NGEuNS41IDAgMCAxLS43MDgtLjcwOGwyLTJhLjUuNSAwIDAgMSAuNzA4IDBsMiAyYS41LjUgMCAwIDEtLjcwOC43MDhMOC41IDguNzA3VjEyLjVhLjUuNSAwIDAgMS0xIDBWOC43MDdMNi4zNTQgOS44NTR6Ii8+Cjwvc3ZnPg==");
}

div.operationButton#save {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktZmlsZS1lYXJtYXJrLWFycm93LWRvd24tZmlsbCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOS4yOTMgMEg0YTIgMiAwIDAgMC0yIDJ2MTJhMiAyIDAgMCAwIDIgMmg4YTIgMiAwIDAgMCAyLTJWNC43MDdBMSAxIDAgMCAwIDEzLjcwNyA0TDEwIC4yOTNBMSAxIDAgMCAwIDkuMjkzIDB6TTkuNSAzLjV2LTJsMyAzaC0yYTEgMSAwIDAgMS0xLTF6bS0xIDR2My43OTNsMS4xNDYtMS4xNDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtMiAyYS41LjUgMCAwIDEtLjcwOCAwbC0yLTJhLjUuNSAwIDAgMSAuNzA4LS43MDhMNy41IDExLjI5M1Y3LjVhLjUuNSAwIDAgMSAxIDB6Ii8+Cjwvc3ZnPg==");
}

div.operationButton#start_stop {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktcGxheS1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Im0xMS41OTYgOC42OTctNi4zNjMgMy42OTJjLS41NC4zMTMtMS4yMzMtLjA2Ni0xLjIzMy0uNjk3VjQuMzA4YzAtLjYzLjY5Mi0xLjAxIDEuMjMzLS42OTZsNi4zNjMgMy42OTJhLjgwMi44MDIgMCAwIDEgMCAxLjM5M3oiLz4KPC9zdmc+");
}

div.operationButton#start_stop.executing {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc3RvcC1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik01IDMuNWg2QTEuNSAxLjUgMCAwIDEgMTIuNSA1djZhMS41IDEuNSAwIDAgMS0xLjUgMS41SDVBMS41IDEuNSAwIDAgMSAzLjUgMTFWNUExLjUgMS41IDAgMCAxIDUgMy41eiIvPgo8L3N2Zz4=");
}

div.operationButton#resize {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktYXNwZWN0LXJhdGlvLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTAgMTIuNXYtOUExLjUgMS41IDAgMCAxIDEuNSAyaDEzQTEuNSAxLjUgMCAwIDEgMTYgMy41djlhMS41IDEuNSAwIDAgMS0xLjUgMS41aC0xM0ExLjUgMS41IDAgMCAxIDAgMTIuNXpNMi41IDRhLjUuNSAwIDAgMC0uNS41djNhLjUuNSAwIDAgMCAxIDBWNWgyLjVhLjUuNSAwIDAgMCAwLTFoLTN6bTExIDhhLjUuNSAwIDAgMCAuNS0uNXYtM2EuNS41IDAgMCAwLTEgMFYxMWgtMi41YS41LjUgMCAwIDAgMCAxaDN6Ii8+Cjwvc3ZnPg==");
}

div#interactsContainer {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	flex-direction: row;
	height: calc(100% - 115px);
}

div#interactsContainer>div.interactive {
	border: 7px solid #f39090;
	padding: 0;
	margin: 3px;
	display: inline-block;
	width: calc(100vw - 24px);
	background-color: #ffffff;
}

div.interactive#runner {
	position: relative;
	overflow-x: hidden;
	display: inline-flex !important;
	flex-direction: column;
}

div.interactive#runner>div#output {
	flex: auto;
}

div.interactive#runner.loading>div#output {
	padding-top: 3ch;
}

div.interactive#runner>div#input {
	display: flex;
	flex-flow: row;
}

div.interactive#runner>div#input>input {
	flex: auto;
	line-height: 2ch;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	padding: 0 8px;
	background-color: #ffffff;
}

div.interactive#runner>div#input>input[type=button] {
	flex: 0 0 30px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc2VuZC1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0xNS45NjQuNjg2YS41LjUgMCAwIDAtLjY1LS42NUwuNzY3IDUuODU1SC43NjZsLS40NTIuMThhLjUuNSAwIDAgMC0uMDgyLjg4N2wuNDEuMjYuMDAxLjAwMiA0Ljk5NSAzLjE3OCAzLjE3OCA0Ljk5NS4wMDIuMDAyLjI2LjQxYS41LjUgMCAwIDAgLjg4Ni0uMDgzbDYtMTVabS0xLjgzMyAxLjg5TDYuNjM3IDEwLjA3bC0uMjE1LS4zMzhhLjUuNSAwIDAgMC0uMTU0LS4xNTRsLS4zMzgtLjIxNSA3LjQ5NC03LjQ5NCAxLjE3OC0uNDcxLS40NyAxLjE3OFoiLz4KPC9zdmc+");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

div.interactive#runner>div#input.disabled>input {
	text-align: center;
}

div.interactive#runner>div#input.disabled>input[type=button] {
	display: none;
}

div.interactive#editor {
	counter-reset: line;
	overflow-y: auto;
	background: -webkit-linear-gradient(left, #808080, #808080 calc(5ch + 5px), #ffffff calc(5ch + 5px), #ffffff);
	font-family: "Space+Mono", monospace;
}

div.interactive#editor span.line {
	display: flex;
	flex-direction: row;
	z-index: 9;
	word-break: break-word;
}

div.interactive#editor span.line:before {
	flex: 0 0 5ch;
	position: relative;
	left: -1px;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	white-space: nowrap;
	background-color: #808080;
	width: 5ch;
	text-align: right;
	padding-right: 5px;
	margin-right: 5px;
}

div#interactsContainer.editorSizing3070>div.interactive#editor {
	width: 30%;
	margin-right: 1.5px;
}

div#interactsContainer.editorSizing3070>div.interactive#runner {
	width: 70%;
	margin-left: 1.5px;
}

div#interactsContainer.editorSizing7030>div.interactive#editor {
	width: 70%;
	margin-right: 1.5px;
}

div#interactsContainer.editorSizing7030>div.interactive#runner {
	width: 30%;
	margin-left: 1.5px;
}

div#interactsContainer.editorSizing5050>div.interactive#editor {
	width: 50%;
	margin-right: 1.5px;
}

div#interactsContainer.editorSizing5050>div.interactive#runner {
	width: 50%;
	margin-left: 1.5px;
}

div#interactsContainer.editorSizing100>div.interactive#editor {
	width: 100%;
}

div#interactsContainer.editorSizing100>div.interactive#runner {
	display: none !important;
}

div#alertOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(128, 128, 128, 0.8);
}

div#alertContainer {
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -40%);
	transform: translate(-50%, -40%);
	background-color: #ec4646;
	height: 400px;
	max-height: 90vh;
	width: 60vw;
	border-radius: 10px;
	display: flex;
}

div#alertContainer > div#authorAlertPicture {
	flex: 0 0 80px;
	height: 80px;
	width: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 310px 10px 10px;
	border-radius: 100%;
}

div#alertContainer > div#authorAlertPicture.authorAlertPictureLeft {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

div#alertContainer > div#alertContents::before {
	content: "";
	position: relative;
	left: -19px;
	bottom: -320px;
	display: block;
	width: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #ffffff;
	border-bottom: 20px solid transparent;
}

div#alertContainer > div#alertContents {
	flex: 0 0 calc(100% - 130px);
	position: relative;
	left: 20px;
	background-color: #ffffff;
	height: 380px;
	width: calc(100% - 130px);
	margin: 10px 10px 10px 0;
	border-radius: 10px;
}

div#alertContainer > div#alertContents > div {
	position: relative;
	top: -40px;
	height: calc(100% - 20px);
	overflow-y: auto;
	margin: 10px;
	display: flex;
	flex-flow: column;
}

div#alertContainer > div#alertContents > div > div#alertContentsMain {
	flex-grow: 1;
}

div#alertContainer > div#alertContents > div > div#alertContentsMain > h2 {
	margin: 0 0 10px;
	font-size: 30px;
}

div#alertContainer > div#alertContents > div > div#alertButtons {
	display: flex;
	margin-bottom: 5px;
}

div#alertContainer > div#alertContents > div > div#alertButtons > div {
	flex: 1 1 auto;
	background-color: #4686ec;
	color: #ffffff;
	font-weight: bold;
	margin: 2.5px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#alertContainer > div#alertContents > div > div#alertButtons > div:active {
	background-color: #2b65c1;
}

div#alertContainer > div#alertContents > div > div#alertButtons > div:first-of-type {
	margin-left: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

div#alertContainer > div#alertContents > div > div#alertButtons > div:last-of-type {
	margin-right: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

@media screen and (max-width: 600px) {
	div.operationButton#resize {
		display: none;
	}

	div#buttonContainer {
		display: flex;
	}

	div.operationButton {
		width: 33%;
	}

	div#interactsContainer>div.interactive#editor {
		width: 100% !important;
		display: block !important;
	}

	div#interactsContainer.executing>div.interactive#runner {
		width: 100% !important;
		display: flex !important;
	}

	div#interactsContainer>div.interactive#runner {
		display: none !important;
	}

	div#interactsContainer.executing>div.interactive#editor {
		display: none !important;
	}
	
	div#alertContainer {
		position: unset;
		top: 0;
		left: 0;
		transform: unset;
		height: 100%;
		width: 100%;
		max-height: unset;
		border-radius: 0;
	}

	div#alertContainer > div#authorAlertPicture {
		position: fixed;
		bottom: 0;
	}
	
	div#alertContainer > div#alertContents {
		height: calc(100% - 20px);
		left: 120px;
	}

	div#alertContainer > div#alertContents::before {
		bottom: calc(-100% + 60px);
	}
}